<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      Nifty sad picture goes here
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h2>Male Abuse Recovery</h2>
        <hr>
        <h3>A system to correct negative behaviors and beliefs which negatively effect the relationships of male abuse surviors</h3>
      </div>
    </div>
    <div class="col-12">
      <div class="text-left">
        <h4>My name is Chris, if your anything like me your life didn't start out very great. In some capacity or another, be it bullying, sexual abuse, or physical abuse,
        you have to endure an environment that was not condusive to your healthy development. You have struggled with self love, self worth, and self confidence. Perhaps
        you have taken actions to correct your behaviors, perhaps they have helped, perhaps they have not, perhaps you have been hospitalized, attempted or thought about
        suicide. If your anything like me you have spent many years of your life, and lots of money trying to find resources to help you recover. To correct all the
        negative behaviors and thoughts you have, you have made some progress, but you have had failed courtship or relationship after failed relationship or courtship.
          You have missed out on great opportunites with women, you have felt isolated hopless and in your darkest times wished to die. </h4>
      </div>
      <div class="text-left">
        <h4>After I realized that I pushed another girl away from me that I was courting, despite all the work I put in to correct the offending behaviors before hand I
        nearly gave up. I couldn't believe this was happening again, I compeletly lost control, and nearly lost hope. I spent the day at the subway station watching the
        trains go by the thoughts of jumping in my head. Suicide felt like a great idea, how wonderful the release of death would be. It's clear I am not going to get better
        despite my efforts to. I decided that I was going to spend every last dollar I had to try and find a program that actually worked. That would help me recover, that would
        show me the way. I figured screw it, if I am going to kill myself anyway, I can't take it with me lets roll the dice.</h4>
      </div>

      <div class="text-center">
        <h2>In that effort I found six programs that when used together helped me tremendously</h2>
      </div>
      <div class="text-left">
        <h5>Lets give a little disclaimer first though. Each one of the programs I am going to show you costs money, however I get no commission, I have no finacial incentive
        to make this website. I pay for the hosting of it out of my own pocket every month. I made this because I have tremendous love and care for you. No person deserves
        to go through what I did, no person who has been abused deserves to spin their wheels, despreate for a solution. I have found a system that works for me and many others.
        I have filtered through the noise, and found real help. I want to share that with as many in need people as possible. You have to be willing to work however. This isn't
        a thing you can half ass. You have to be fully invested into getting better, you have to be willing to do the work, some of the things these programs are going to have
        you do will be uncomfortable, they make shock you, but I promise they will help you. The programs are listed in no particular order unless stated so. </h5>
      </div>

      <div class="text-left">
        <h2>Transformation Mastery by Julien Blanc</h2>

      </div>
      <div>
        transformation picture goes here
      </div>
      <div class="text-left">
        <p>Transformation Mastery works by finding the deep causes of our pain and trauma.
        It Finds the source of the voice that says "Your not good enough, you don't deserve it" and teaches you
        how to release it. Tell yourself you are awesome right now. Say it. Did a voice in your head say that your not? Transformation Mastery teaches you to release that
        voice. Release the inner demons that are causing you pain. </p>
      </div>
      <div class="text-center">
        <a target="_blank" href="https://julienhimself.com/self-help">Transformation Course</a>
      </div>

      <div class="text-left">
        <h2>How To Be A Three Percent Man by Corey Wayne</h2>
      </div>
      <div>
        Corey Wanye book picture goes here
      </div>
      <div class="text-left">
        <P>Corey Waynes book How To be A Three Percent Man teaches the behaviors men who are naturally in their masculine have in life and dating. Corey learned all the lessons
        he teaches the hard way over his 20s and didn't really start to understand the concepts he teaches until he reached is early 30s.</P>
      </div>

    </div>
  </div>
</div>
