<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-left centerpadding">
        <h2>Male Abuse Recovery</h2>
      </div>
      <hr>
      <div class="bottompadding">
        <h5>A system to correct negative behaviors and beliefs which effect the relationships of male abuse survivors.</h5>
        <div>
          <br>
          <p>By Christopher Jakob</p>
        </div>
      </div>
    </div>
    <div class="col-6 abusedimage">

    </div>
    <div class="col-12">
      <div class="text-left premisetext">
        If your anything like me your life didn't start out very great. Be it sexual abuse, physical abuse, emotional abuse or all three,
        you have had to endure an environment that was not conducive to your healthy development. You have struggled with self love, self worth, and self confidence. Perhaps
        you have taken actions to correct your behaviors, maybe they have helped, maybe not. Maybe you have been hospitalized, attempted or thought about
        suicide, perhaps more than once. If your anything like me you have spent many years of your life and lots of money trying to find resources to help you recover. To correct all the
        negative behaviors and thoughts you have. You have made some progress, but you have had failed courtship or relationship after failed courtship or relationship.
          You have missed out on great opportunities with women, you have felt isolated hopeless and in your darkest times wished to die.
      </div>
    </div>
    <div class="col-12">
      <div class="text-left premisetext">
        After I realized that I pushed another girl away that I was courting, despite all the work I put in to correct the offending behaviors before hand I
        nearly gave up. I couldn't believe this was happening again. I completely lost control and nearly lost hope and spent the day at a subway station watching the
        trains go by with the thoughts of jumping in my head. Suicide felt like a great idea, how wonderful the release of death would be. It's clear I am not going to get better
        despite my efforts to. But rather than jump, I decided that I was going to spend every last dollar I had to try and find a program that actually worked. Try and find one that would help me recover, that would
        show me the way. I figured screw it, if I am going to kill myself anyway, I can't take the money with me lets roll the dice.
      </div>
    </div>
    <div class="col-12">
      <div class="text-center resolvetext">
        In that effort I found seven programs that when used together helped me tremendously
      </div>
    </div>
    <div class="col-12">
      <div class="text-left premisetext">
        Most of the programs I am going to show you costs money, however I get no commission, I have no financial incentive
        to make this website, I pay for the hosting of it out of my own pocket every month. I did not make this website to make money. I made it because I have tremendous love and care for my fellow abuse
        survivors.
          No person deserves to go through what I did, no person who has been abused deserves to spin their wheels, desperate for a solution. I have found a system that works for me and many others.
        I have filtered through the noise, and found real help and I want to share that with as many in need people as possible. You have to be willing to work however, this isn't
        a thing you can half ass. You have to be fully invested into getting better, you have to be willing to do the work. Some of the things these programs are going to have
        you do will be uncomfortable, they may shock you, but I promise they will help you. The programs are listed in no particular order unless stated so and unless the program is a live bootcamp,
        you should go through them over and over again. You learn about 10% of what you read or watch, so for the resources that are books or videos that I am about to share with you, to get the most
        out of them, you should watch or read them 10 to 15 times. I know that is a lot, but this is what it takes to improve.
      </div>
    </div>
    <div class="col-9 productheader">
      <div class="text-left">
        <h2>Transformation Mastery by Julien Blanc</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>$300</h2>
      </div>
    </div>

    <div class="col-12">
      <div class="text-left producttext">
        Transformation Mastery works by finding the deep causes of our pain and trauma.
        It finds the source of the voice that says "Your not good enough, you don't deserve it" and teaches you
        how to release it. It teaches you how to have self love, to stop identifying with the abuse. It does this not just through theory but practical exercise as well.
        It helps you release the inner demons that are causing you pain and live free.
      </div>
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="https://julienhimself.com/self-help">Transformation Course</a>
      </div>
    </div>

    <div class="col-12 producttext" style="color: red">
      Transformation Mastery is a product by the company RSD. This is the only product
      from RSD I recommend. RSD is at first a marketing company and some of the things they show in their teachings are more for marketing purposes then actual help.
      In a lot of ways RSDs other products hurt people like me who are still trying to figure social dynamics out. They certainly hurt me and truly I think I screwed up
      with the girl above because of some of their teachings.
    </div>

    <div class="col-9 productheader">
      <div class="text-left">
        <h2>How To Be A Three Percent Man by Corey Wayne</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>$15</h2>
      </div>
    </div>

    <div class="text-left producttext">
      Corey Waynes book (also available as an audio book) teaches the behaviors men who are naturally in their masculine have in life and dating.
        It teaches the healthy dynamics men and women have between each other and what the role and actions of a naturally masculine man are. If you weren't abused, or at the very least had a loving childhood
        you most likely wouldn't need this book. If grew up in a healthy, loving, nurturing environment you most likely would already have the behaviors Corey teaches. This book sheds light
        on the negative behaviors and mindsets you have that are hurting your interactions with women, and shows the correct ones.
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="https://www.audible.com/pd/How-to-Be-a-3-Man-Audiobook/B01EIA86VC?ds_rl=1262685&ds_rl=1263561&source_code=GO1GB907OSH060513&gclid=Cj0KCQiA6JjgBRDbARIsANfu58EbXYAykbl5kYJB5q1SGAKdGIBXWDUoSHLhGm_PPr-8pLfVRjLlVaMaAkOcEALw_wcB&gclsrc=aw.ds">Coreys Book</a>
      </div>
    </div>
    <div class="col-9 productheader">
      <div class="text-left">
        <h2>Corey Waynes YouTube Channel</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>Free</h2>
      </div>
    </div>
    <div class="col-12 producttext">
      <div class="text-left">
        Corey Waynes book teaches the fundamentals of the healthy mindsets and behaviors you must have. However the fundamentals as great as they are, need to be reinforced from different angles.
        Over your life have made some very strong connections to the negative behaviors and beliefs that have been hurting you. In order to remove those connections and allow new ones to form you
        have to be exposed to the concepts in different scenarios over and over again. Coreys youtube channel is filled with videos of him answering his clients question emails. Corey has made
        over a thousand of these videos many of which cover the same topic but from different angles. This results in you gaining a tremendous amount of experience in the topics Corey teaches
        without you having to go through the experience the client had yourself. The more you watch the videos, the more things click, the better you become.
      </div>
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="https://www.youtube.com/user/coachcoreywayne">Coreys YouTube</a>
      </div>
    </div>

    <div class="col-12">
      <div class="text-left premisetext">
        The next four resources deal in the development of the skill of cold approaching women. They are to be done in the order in which they are presented.
          This system puts such an empathises of the development of this skill as it's development has easily
          been  some of the best therapy I have ever been through. There simply is no better activity that teaches you the fundamental principles a high value masculine man has then cold approach.
        Society would have you believe that you need to have a magic pickup line or have to be a
          master manipulator and both couldn't be further from the truth. Really it is about being confident, having awareness of others, and having a healthy self esteem.
          The resources below understand this,
          and in using them, you will transform transform yourself into a better, healthier, fulfilled person.
      </div>
    </div>

    <div class="col-9 productheader">
      <div class="text-left">
        <h2>Winner Game by Todd Valentine</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>Free</h2>
      </div>
    </div>
    <div class="col-12">
      <div class="text-left producttext">
        Winner Game is designed to sanitize your understanding of cold approach from any type of previous attempts to learn it or societies narrative of it. There is a lot of nonsense out there in
        regards to this topic. Todd goes into detail of the pit falls of these false narratives and shows you the correct ones, he puts you on the right path and prepares you for the
        resources that follow.
      </div>
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="https://toddwinnergame.com/get/">Winner Game</a>
      </div>
    </div>
    <div class="col-9 productheader">
      <div class="text-left">
        <h2>The System by Todd Valentine</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>$300</h2>
      </div>
    </div>
    <div class="col-12">
      <div class="text-left producttext">
        The System is a program designed to take you from absolute beginner in cold approach to "Advanced". Todd clearly defines the concepts and breaks them down
          into their smallest parts, he explains things from multiple angles, with multiple examples of the concepts being used in the real world. He assigns exercises and missions to complete which
          work to improve your ability and desensitize you to the fear of cold approaching women.
      </div>
    </div>

    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="http://systembytodd.com/landingpage/">The System</a>
      </div>
    </div>

    <div class="col-12">
      <div class="text-left premisetext">
        A quick note on the above resources. I am not sure if this is the right way to do it, but after reading Coreys book, watching his youtube videos, watching Winner Game and The System, I stopped going out.
        I stopped cold approaching women, I stopped dating, I held back from it all. The resources showed me that so many things I learned before them where wrong. My understanding of proper man to woman courtship
        and human to human interaction was wrong. I felt violated, like someone pulled a nasty trick on me. It was so clear as to why I messed up with the girl above and the ones before. I decided I wasn't going to date
        until I fully understood the information in the each of these resources. I read coreys book fifteen times, would watch five of coreys YouTube videos every night before bed, and watched Winner Game and The System 15 times
        each. This may seem a bit extreme, but as I said before you only retain ten percent of what you read or watch the first time. Real change, requires massive action, accept that now.
      </div>
    </div>
    <div class="col-9 productheader">
      <div class="text-left">
        <h2>3 Day One On One Cold Approach Bootcamp by Todd Valentine</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>$2,500</h2>
      </div>
    </div>

    <div class="col-12">
      <div class="text-left producttext">
        The System is a fantastic program which you will learn a tremendous amount from, but to further refine your understanding, fix any sticking points, flaws, and greatly reduce your learning
          curve a one on one coach is a must. When I did the one on one, my coach within the first day corrected many behaviors and mindsets I had been suffering from for years. He lowered the bar in my mind
          of what I had to be. He showed me I was enough, which the belief I wasn't ruled my life for over twenty years.
      </div>
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="https://www.toddvdating.com/live/">One On One Coaching</a>
      </div>
    </div>
    <div class="col-9 productheader">
      <div class="text-left">
        <h2>7 day Immersion program by Todd Valentine</h2>
      </div>
    </div>
    <div class="col-3 productheader">
      <div class="text-right">
        <h2>$2,000</h2>
      </div>
    </div>

    <div  class="col-12">
      <div class="text-left producttext">
        The seven day immersion program combines the best of The System and the 3 day one on one bootcamp into a completely immersive program. For 7 days you and 14 other
        students and 5 instructors go through classroom and practical training. Everything about cold approach, dating, healthy mental models, and high value social behaviors
        are covered. You may think using The System, the 3 day bootcamp, and the immersion program to be over kill but I certainly do not and highly recommend doing it this way
        despite the price tag. The information I learned in these systems drastically changed my life and had I done this type of massive exposure sooner, the past twenty years would
        of gone very different.
      </div>
    </div>
    <div class="col-12 productlinkcontainer">
      <div class="text-center">
        <a class="productlink" target="_blank" href="http://toddimmersion.com/">Immersion Program</a>
      </div>
    </div>

    <div class="col-12">
      <div class="text-left premisetext">
        Unless someone has suffered from years abuse, I truly believe they cannot understand what it is like to live with the consequences of it. The negative mental models
          the abused suffer from rob them of so much in life. An abused persons mind is their own worst enemy and it takes a massive amount of action to free the chains of their mental
          prison. Dating and relationships are fundamental to life and being able to finally say I have a hold on this part of it has drastically improved my happiness, my friendships, my entire
          outlook in life. I have became a better man, a happier one, a more fulfilled one and it was the programs listed above out of all the ones I tried that really helped me. I understand I am
          asking a lot of you to invest this much time and money into getting better, but ask yourself this, what is a more valuable resource time or money? Time, as it is finite. I do not want
          any of you reading this to live your life in the way I did until I discovered these programs. Please invest in yourself, life is too short, and you owe it to yourself and those that care about
          you to get some form of help. Even if you don't use this system, look into help.
      </div>
    </div>
    <div class="col-12">
      <div class="text-center premisetext mb-5">
        With love and care Chris
      </div>
    </div>
  </div>
</div>
